<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<!-- hack iOS CSS :active style -->
<body ontouchstart="">

    {% include nav.html %}

    {{ content }}

    {% include footer.html %}


<!-- Image to hack wechat -->
<img src="/img/icon_wechat.png" width="0" height="0" />
<!-- Migrate from head to bottom, no longer block render and still work -->

</body>
<script type="text/javascript">
var defaultHeight = document.getElementById('intro-header').offsetHeight  ;
document.getElementById('toc').style.top=defaultHeight+'px';
  window.onscroll = function(){ 
    var t = document.documentElement.scrollTop || document.body.scrollTop;
    
    var topHeight = document.getElementById('intro-header').offsetHeight  ;
    var $leftBar = document.getElementById('toc');
    console.log(t+','+topHeight);
    //var top_div = document.getElementById( "top_div" );
    if ( t>0 && t<topHeight ) {
      $leftBar.style.top=(topHeight - t) + 'px';
    }else if( t >= topHeight ) {
        console.log('300');
        $leftBar.style.top=0;
        //top_div.style.display = "inline";
    } else {
      $leftBar.style.top=topHeight+'px';
        //top_div.style.display = "none";
    }
}
</script>
</html>
